# Sample file for systemd
# Add to your server using
# $ sudo cp fido_app.service /etc/systemd/system
# $ systemctl enable fido_app
# $ systemctl start fido_app

[Unit]
Description=FIDO App service
After=network.target

[Service]
User=hackerhog
WorkingDirectory=/home/hackerhog/web-code/web
ExecStart=python3 wsgi.py

[Install]
WantedBy=multi-user.target
